*{
    box-sizing: border-box;

}

body{
    margin: 0;

}

.mainNav{
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    height: 50px;

}

.mainNav a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;

}

.mainNav ul{
    padding: 0;
    margin: 0;
    list-style: none ;
    display: flex;
    gap: 1rem;

}

.mainNav li:hover{
    background-color: #777;

}

.mainNav li:active{
    background-color: aquamarine;

}